/*reset

*{background-color: antiquewhite;
box-sizing: border-box;
margin: 0;
padding: 0;}

header{text-align: center;}
ul{display: flex;
gap: 15px;
}
nav{text-align: right;}
a{text-decoration: none;
}

.section-products{background-color: rgba(0, 82, 44, 0.459);
 display: flex;
justify-content: center;
flex-wrap: wrap; 
gap: 25px;
;}


.product{ background-color: aliceblue;
border-radius: 18px;
border-radius: 8px
padding 15px;
}
.product p, h1, h2, h3, button{ background-color: aliceblue;}

.product img{max-width: 300px;
border-radius: 12px;
width: 100%;
}

li{background-color: beige;
    list-style: none;
}
*/

/* usuario */

        .form-container-c-u {
            max-width: 600px;
            margin: 50px auto;
            padding: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .form-container {
            max-width: 450px;
            margin: 50px auto;
            padding: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }
        .error-msg {
            color: #dc3545; 
            font-size: 0.875em;
            margin-top: 0.25rem;
        }


        #carrito {
            margin-top: 20px;
        }

        #lista-carrito {
            list-style: none;
            padding: 0;
        }

        #lista-carrito li {
            background-color: #f4f4f4;
            margin: 5px 0;
            padding: 10px;
            border: 1px solid #ccc;
        }

        #vaciar-carrito {
            margin-top: 10px;
            background-color: red;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
        }

        #vaciar-carrito:hover {
            background-color: darkred;
        }